.toggle-button-container{
    align-self: flex-start;
    width: 100%;
}

.toggle-button{
    background-color: transparent;
    cursor: pointer;
}

.toggle-icon{
    font-size: 25px;
    color: darkorange;

}

.sun-icon{
    font-size: 30px;
    color: darkorange;
}